@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/homeSheet.css" rel="stylesheet" />

    <body>

    <div class="container">
        <div class="text-center">

            <h1 class="display-4">Tour Acuático Guanacaste</h1>

            <h3>Servicio de Ventas</h3>
            <h3>Servicio de tours a lugares turísticos   </h3>
            <h3>Paquetes de tours acuáticos</h3>
            <h4>teléfonos: 1234-456 /189-789</h4>
        </div>
    </div>
    </body>


