@model Cliente_UI.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>
<h4>Proveedor</h4>
<hr />

<div class="container">

    <dl class="row">

        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.Ced_juridica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ced_juridica)
        </dd>
   

        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.Descripcion_proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion_proveedor)
        </dd>
    </dl>
</div>
<div>
    <div style="background-color:navy">
    <a asp-action="Index">Regresar</a>
    </div>
</div>

