@model Cliente_UI.Models.Proveedor

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Proveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="alert alert-warning" role="alert">
                    <a href="#" class="alert-link">No modifique su ID o no se harán los cambios</a>.
                    <a href="#" class="alert-link">Si desea cambiar el ID elimine el formulario y vuelva a crear uno con su nuevo ID</a>.
                </div>
                <label asp-for="Ced_juridica" class="control-label"></label>
                <input asp-for="Ced_juridica" class="form-control" />
                <span asp-validation-for="Ced_juridica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_proveedor" class="control-label"></label>
                <input asp-for="Descripcion_proveedor" class="form-control" />
                <span asp-validation-for="Descripcion_proveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div style="background-color:navy">
    <a asp-action="Index">Regresar</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
